 *{
    
    box-sizing: border-box !important;
    font-family: 'Rubik',sans-serif !important;
    scroll-behavior: smooth !important;
    scroll-padding-top: 2rem !important;
} 
:root{
    --bg-color: #10101a;
    --main-color: #2fbf71;
    --2nd-main-color: #ffffffcc !important;
    --text-color: #fff;
    --big-font: 5rem;
    --h2-font: 1.9rem;
    --p-font: 1rem;
}
body{
    background: var(--bg-color);
    color: var(--text-color);
}

.signin{
    height: 100vh;
}
.sign{
    font-size: large;
}
.enter{
    font-size: small;
}
.signinf{
    border-radius: 20px;
    width: 400px;
    background: #0b0B13;
    box-shadow: 0px 15px 30px 0px rgb(0 0 0 / 70%);

}
.forget{
    font-size: x-small;
}
input{
    font-size: small !important;
}
::-webkit-input-placeholder{
    color: var(--2nd-main-color) ;
}

.Create{
    color: var(--main-color);
}
.Create:hover{
    color: var(--2nd-main-color);
}
.btn{
    background: var(--main-color);
    color: var(--text-color);
    box-shadow: 4px 4px var(--text-color);
    padding: 0 25px;
    line-height: 42px;
    display: inline-block;
    border: 1px solid transparent;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
    transition: ease all 0.35s;
}
.btn:hover{
    background: var(--text-color);
    color: var(--main-color);
    box-shadow: 4px 4px var(--main-color);
}
header{
    position: fixed !important;
    width: 100% !important;
    top: 0 !important;
    right: 0 !important;
    z-index: 1000 !important;
    display: flex !important;
    align-items: center !important;
    justify-content: space-between !important;
    background: var(--bg-color) !important;
    padding: 24px 14% !important;
    transition: .3s !important;
}
.logo{
    color: var(--text-color) !important;
    font-size: 1.8rem;
    font-weight: 600;
    text-decoration: none !important;
}
#span{
    color: var(--main-color);
}
.navbar{
    display: flex;
    list-style: none;
}
.navbar a {
    color: var(--text-color);
    font-size: 1rem !important;
    padding: 10px 20px !important;
    font-weight: 500 !important;
    text-decoration: none !important;
    
}
.navbar a:hover{
    background:var(--main-color) ;
    transition: .3s;
}
#menu-icon{
    font-size: 28px;
    z-index: 10001;
    cursor: pointer;
    display: none;
    
}
section{
    padding: 0px 14%;
} 
.home{
    position: relative;
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 6rem;
    align-items: center;
}
.home-img img{
    max-width: 100%;
    width: 600px;
    height: auto;
}
.thisActive a{
    background:var(--main-color) ;
}
@media (max-width: 1150px){
    header{
        padding: 25px 3% !important;
    }
    section{
        padding:30px 3%;
    }
    
}
@media (max-width: 1150px){
    
    .home{
        height: 100vh;
        overflow-y: hidden;
     }
}
@media (max-width: 830px){
    header{
        padding: 18px 3% !important;
    }
    #menu-icon{
        display: block ;
    }
    .navbar{
        position: absolute !important;
        top: -500px !important;
        left: 0 !important;
        right: 0 !important;
        display: flex !important;
        flex-direction: column !important;
        background: #0b0B13 !important;
        box-shadow: 0px 15px 30px 0px rgb(0 0 0 / 70%) !important;
        text-align: left !important;
        transition: 0.2s ease !important;

    }
    .navbar a{
        display: block !important;
        border-left: 2px solid var(--main-color) !important;
        margin: 1rem !important;
        display: block !important;
        width: 74vh !important;
        padding-left: 1rem;        
    }
    .navbar.active{
        top: 100% !important;
        padding:0;
        
    }
    .home-img img{
        display: none;
    }
    .home{
        grid-template-columns: 1fr;
        grid-gap: 2rem;
        margin-top: 0px;
        height: 100vh;

    }
    
}
@media (max-width: 795px){
    .home{
        grid-template-columns: 1fr;
        grid-gap: 2rem;
        margin-top: 0px;
        height: 100vh;

    }
    
    
    .home-img img{
        display: none;
    }
    section{
        padding: 0px 8%;
    } 
}
